<%= @user.name %>
<%= @user.followers.count %>
<%= Follower.where(follower_id: @user.id).count %>
<div>
	<% @user.post_favors.each do |favor| %>
			<%= Post.find(favor.favor_post_id).title %>
	<% end %> 
</div>
<%= @user.post_favors.to_json %>
<br><br>
<%= @user.to_json %>