<%= stylesheet_link_tag    'simditor.css', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag    'module.js', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag    'hotkeys.js', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag    'uploader.js', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag    'simditor.js', media: 'all', 'data-turbolinks-track' => true %>

<div class="idea_head">
   <div class="idea_head_1">

    <button class="am-btn am-btn-primary" id="post_btn">发帖</button>
<div class="am-modal am-modal-loading am-modal-no-btn" tabindex="-1" id="my-modal-loading">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">正在载入...</div>
    <div class="am-modal-bd">
      <span class="am-icon-spinner am-icon-spin"></span>
    </div>
  </div>
</div>


<div class="am-modal am-modal-alert" tabindex="-2" id="my-alert" post-id=''>
  <div class="am-modal-dialog" style="height:500px;overflow:scroll;">
    <div class="am-modal-hd">创意详情</div>
    <hr>
    <div class="ideaContent">
    <article data-am-widget="paragraph" class="am-paragraph am-paragraph-default"
data-am-paragraph="{ tableScrollable: true, pureview: true }">
  
</article>
 <hr>
  <div class="idea_author">
       <div class="idea_author_img"><a href="#"><img class="am-circle" src="/assets/default_portrait1.jpg" style="width:40px;margin-left:20px;" height="40px" alt=""/></a></div>
       <div class="idea_author_name" style="
    font-weight: 600;">陈芸莹</div>
    <div class="ideaClassfy" style="
    font-weight: 600;">#社会科学#</div>
   </div>
    <hr>
  <div class="ideaDiscuss">
        <div class="idea_author_img"><a href="#">
        <%=image_tag 'default_portrait2.jpg', style: 'width:40px;margin-left:20px;' height: '40px;' class: 'am-circle'  %>
        </a></div>
        <div class="i_input">
                <textarea placeholder="说点什么吧..." class="W_input" action-type="check" cols="" rows="" name="" node-type="textEl" range="0&amp;0" style="overflow: hidden; line-height: 40px; outline: none; height: 40px;width:80%;border-radius: 2px; border: 1px solid rgb(204,204,204);"></textarea>
            </div>
            <div class="discussButton"><button class="am-btn am-btn-primary am-btn-xs event-for-ajax">发送</button></div>
            <div class="alsoCollect">收藏了该创意的还有:<a href="#"><img class="am-circle" src="/assets/default_portrait2.jpg" style="width:40px;margin-left:20px;" height="40px" alt=""/></a>
<a href="#"><%=image_tag 'default_portrait2.jpg', style: 'width:40px;margin-left:20px;' height: '40px;' class: 'am-circle'  %></a>
           <a href="#"><%=image_tag 'default_portrait2.jpg', style: 'width:40px;margin-left:20px;' height: '40px;' class: 'am-circle'  %></a>            
            </div>
             <hr>    
  </div>
  <div class="DiscussArea">
<div class="allDiscuss">
    <div class="idea_author_img"><a href="#"><img class="am-circle" src="/assets/default_portrait2.jpg" style="width:40px;margin-left:20px;" height="40px" alt=""/></a></div>
    <div class="allDiscuss_name">
    <span class="discuss_id">一直特例独行的猪:</span><span>&nbsp;&nbsp;&nbsp;</span><span class="discusstext">钟恺是个傻逼啊！！！！！</span>
    </div>
    <div class="allDdiscuss_time">今日12:08</div>
    </div>                             
    <hr> 
    <div class="allDiscuss">
    <div class="idea_author_img"><a href="#"><img class="am-circle" src="/assets/default_portrait2.jpg" style="width:40px;margin-left:20px;" height="40px" alt=""/></a></div>
    <div class="allDiscuss_name">
    <span class="discuss_id">一直特例独行的猪:</span><span>&nbsp;&nbsp;&nbsp;</span><span class="discusstext">钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！钟恺是个傻逼啊！！！！！</span>
    </div>
     <div class="allDdiscuss_time">今日12:08</div>
    </div>               
    <hr> 
    </div>

  
  
   </div>

    <div class="am-modal-footer">
      <span class="am-modal-btn">确定</span>
    </div>
  </div>
</div>



<div class="am-popup"  id="my-popup">
  <div class="am-popup-inner">
    <div class="am-popup-hd">
      <h4 class="am-popup-title">我的创意</h4>
      <span data-am-modal-close
            class="am-close">&times;</span>
    </div>

    <div class="am-popup-bd" style="background-color: white;padding:0px;">
    <div class="ideaTitle">
     <div class="am-form-group">
      <%= form_for @post, :html => { :class => "am-form" }  do |f| %>
      <%= hidden_field_tag :from_index,  "1" %>
      <% if session[:progress] %>
      <%= f.hidden_field :user_id, value: UserSession.find(session[:progress].fetch("_id").fetch("$oid")).user.id %>
      <% end %>
                <fieldset>
                  <%= f.label "创意标题", for: 'doc-ta-1' %>
                   <div>
                     <%= f.text_field :title, placeholder: '' %>
                  </div>
                </fieldset>
                <fieldset>
                      <div class="am-form-group">
                          <div><label for="doc-ta-1">创意详情</label></div>
                    <%= f.text_area :content, placeholder: '正文' %>
                  </div>
                </fieldset>
      
     </div>
    </div>
    </div>
<!--    tag-->
  <div class="tagheader" style="padding-left:10px;font-weight: 700;color: #555;">
      <p>创意分类:</p>
  </div>
   <div class="tags-list">
    <ul class="tags-list-item nav nav-pills">
    <% @tags.each do |tag| %>
       <button id="doc-single-toggle" type="button" class="post-tag-btn am-btn am-btn-default" data-am-button style="  height: 20px;line-height: 1px;" tag-id='<%= tag.id %>'><%= tag.name %></button>
    <% end %>
    <%= hidden_field_tag :tag_ids, '' %>

</ul>
   <p style="text-align:center;"><button id="addOnePostBtn" type="submit" class="am-btn am-btn-primary">提交</button></p>
</div>
<script type="text/javascript">
  $(document).ready(function($) {
    var editor = new Simditor({
      textarea: $('#post_content')
    });
    
    var content = '';
    $("#new_post").submit(function(){
      
      $(".post-tag-btn").each(function(index, el) {
        if ($(this).hasClass('am-active')){
          content += '|^'+$(this).attr('tag-id');
          
        }
      });
      $("#tag_ids").val(content);
      if ($('#post_title').val()=='') {
        alert('标题不能为空');
        return false;
      }
      

      return true;
      
      
    });
  });
</script>

<% end %>
<!--   tag-->

    
  </div>
  
</div>


    </div>
<div class="idea_head_3">
  <% if @notice %>
  <br>
  <ol class="am-breadcrumb am-topbar-form am-topbar-left am-form-inline am-topbar-left">
  <li><a href="<%= root_url %>">首页</a></li>
  <li><a href="javascript: window.location.assign('<%= welcome_index_path %>');">脑库</a></li>
  <li class="am-active"><%= @notice  %></li>
</ol>
  <% end %>
</div>

 <div class="idea_head_2">
       <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
          <div class="am-form-group">
            <input type="text" class="am-form-field am-input-sm" placeholder="搜索创意">
          </div>
          <button type="submit" id="searchBtn" class="am-btn am-btn-default am-btn-sm">搜索</button>
        </form>
        
  </div>
  </div>
  <hr>
<div id="idea_body">
       <script>

       function getPostComments(id){
        //获取评论列表
          $.ajax({
                method: "GET",
                url: "<%= welcome_get_comments_path %>",
                beforeSend: function( xhr ) {
                  xhr.overrideMimeType( "text/plain; charset=utf-8" );
                  $(".DiscussArea").html('评论载入中......');
                 },
                data: {parent_id: id, limit: 5},
                dataType: "json"
              }).done(function( msg ){ 
                $(".DiscussArea").html('');
                for(var i=0; i< msg.length; i++){

                  $(".DiscussArea:first").append('<div class="allDiscuss"><div class="idea_author_img"><a href="#"><img class="am-circle" src="/assets/default_portrait2.jpg" style="width:40px;margin-left:20px;" height="40px" alt=""/></a></div><div class="allDiscuss_name"><span id="user_discuss_'+i.toString()+'" class="discuss_id"></span>:<span>&nbsp;&nbsp;&nbsp;</span><span class="discusstext">'+msg[i].content+'</span></div><div class="allDdiscuss_time">'+new Date(msg[i].created_at).toLocaleTimeString( )+'</div></div> ');
                      getPostOwnerInfo(msg[i].user_id.$oid.toString(),$("#user_discuss_"+i.toString()));

                }
                
              }).fail(function(){alert('请等待服务器');});

       }



       function getPostOwnerInfo(id,$obj){
        //获取发帖人信息

          $.ajax({
                method: "POST",
                url: "<%= welcome_get_user_info_path %>",
                beforeSend: function( xhr ) {
                  xhr.overrideMimeType( "text/plain; charset=utf-8" );

                 },
                data: {id: id},
                dataType: "json"
              }).done(function( msg ){ 
                $obj.html(msg.name);
              }).fail(function(){alert('请等待服务器');});

       }
        function popAlert(post_id){
          //弹出帖子详情
            var $modal = $('#my-alert');
            var $modal_landing = $('#my-modal-loading');
            
            
            $.ajax({
                method: "GET",
                url: "<%= welcome_get_one_post_path %>",
                beforeSend: function( xhr ) {
                  xhr.overrideMimeType( "text/plain; charset=utf-8" );
                  $modal_landing.modal();
                 },
                data: {id: post_id},
                dataType: "json"
              }).done(function( msg ) {
                  $modal_landing.modal('close');
                  $('#my-alert').attr('post-id', msg._id.$oid.toString());
                  $('#my-alert .am-modal-hd').html(msg.title);
                  $('#my-alert article').html(msg.content);
                  getPostOwnerInfo(msg.user_id.$oid.toString(),$(".idea_author_name"));
                  getPostComments(msg._id.$oid.toString())
                  $modal.modal();
              }).fail(function(){alert('请等待服务器');});
            }

            
            
            $(document).ready(function($) {


              $('.event-for-ajax').click(function(event) {
                
                var $discuss = $(".allDiscuss").first().clone();
                var content = $discuss.find('.discusstext').html($('.W_input').first().val()).toString();
                var father_post_id = $('#my-alert').attr('post-id').toString();
                <% if session[:progress] %>
                  //================================ajax发评论
                  $.ajax({
                method: "GET",
                url: "<%= welcome_post_one_comment_path %>",
                beforeSend: function( xhr ) {
                  xhr.overrideMimeType( "text/plain; charset=utf-8" );
                 },
                data: {title: null, content: $('.W_input').first().val(), user_id: '<%= @user_session.user_id %>', post_id: father_post_id},
                dataType: "json"
              }).done(function( msg ){ 
                alert('评论成功！');
              }).fail(function(){alert('请等待服务器');});
                  //================================
                  $discuss.find('.discuss_id').html('<%= @user_session.name %>:');
                  $(".DiscussArea").prepend('<div class="allDiscuss"><div class="idea_author_img"><a href="#"><img class="am-circle" src="/assets/default_portrait2.jpg" style="width:40px;margin-left:20px;" height="40px" alt=""/></a></div><div class="allDiscuss_name"><span class="discuss_id">'+'<%= session[:progress]?@user_session.name.to_s: nil %> '+':</span><span>&nbsp;&nbsp;&nbsp;</span><span class="discusstext">'+$('.W_input').first().val()+'</span></div><div class="allDdiscuss_time"><%= Time.now.to_s[0..-6] %></div></div>')
                $('.W_input').first().val('');
                $(this).html('发送');
                <% else %>
                  alert("请先登录！");
                  window.location.assign("<%= new_user_session_path %>")
                <% end %>
                
              });
            });
        
        
        </script>
<% @posts.each do |post| %>
<div class="box">
    <div class="pic">

      <% if post[2] %>
      <% if post[2][0] %>
      <% image_item = ImageItem.find(post[2][0]) %>
        <% if image_item.url and image_item.url.to_s != '' %>
        <a class="al-alert"  href="#"><%= image_tag image_item.url, alt: '图片' %></a>
        <% elsif image_item.url_from_content and image_item.url_from_content.to_s != '' %>
       <a class="al-alert"  href="javascript:popAlert('<%= post[0].to_s %>')"><img src='../<%= image_item.url_from_content.to_s %>', alt: '图片' %></a>

        <% else %>
        <a class="al-alert" href="javascript:popAlert('<%= post[0].to_s %>')"><%= image_tag 'default.jpg', alt: '图片' %></a>
        <% end %>
      <% else%>
        <a class="al-alert"  href="javascript:popAlert('<%= post[0].to_s %>')"><%= image_tag 'default.jpg', alt: '图片' %></a>
      <% end %>
 <% else %>
        <a class="al-alert" href="javascript:popAlert('<%= post[0].to_s %>')" ><%= image_tag 'default.jpg', alt: '图片' %></a>
      <% end %>

        <!-- <img src="images/1.jpg" alt="图片" /> -->
  <div class="ideaTitle1"><a href="javascript:popAlert('<%= post[0] %>')">
  <h3><%= post[1] %></h3></a>
  </div>
  <hr>

 <hr>
  <div class="ideaClassify">
  <% if post[4] %>
  <% post[4].each do |tag| %>
  <a href="javascript:window.location.assign('<%= welcome_show_posts_path %>?tag_id=<%= tag.to_s%>')">#<%= Tag.find(tag.to_s).name %>#</a>
  <% end %>
  <% end %>
  </div>
  <div style="text-align: center;font-size: small">
    <%= post[3].in_time_zone.to_s[0..-6] %>
  </div>
</div>
</div>
<% end %>

</div>


<!--
<footer>
  <hr>
  <p class="am-padding-left">© 2015 , Ulaiber in Shenzhen of China</p>
</footer>
-->

<!--[if (gte IE 9)|!(IE)]><    !-->
<!--
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<script src="assets/js/app.js"></script>
-->
<!--<script src="assets/js/waterfall.js"></script>-->
<script>
    
$(function() {
    var $modal = $('#my-popup');
    <% if session[:progress] %>
      var session_exist = true;
    <% else %>
      var session_exist = false;
    <% end %>
    $modal.siblings('#post_btn').on('click', function(e) {
      var $target = $(e.target);
        if (session_exist== true) {
          $modal.modal();
        }else{
          $modal.modal('close');
          alert("请先登录！");
          window.location.assign('<%= root_url %>/user_sessions/new');
        }
    });
    
   
    
  });
    
    
var hArr=[];//存放图片的高度，开始存第一行的四张图片的高度，之后存每一列的高度；
var oBoxW = 0;

$(function() {
  $('#doc-prompt-toggle').on('click', function() {
    $('#my-prompt').modal({
      relatedTarget: this,
      onConfirm: function(e) {
        alert('你已经成功提交创意：' + e.data || '')
      },
      onCancel: function(e) {
        alert('放弃!');
      }
    });
  });
});
window.onload=function(){
waterfall('idea_body','box');  //封装一个waterfall函数；
//var dateInt={"date":[{"src":'1.jpg'},{"src":'2.jpg'},{"src":'3.jpg'},{"src":'4.jpg'},]} //模拟后台数
window.onscroll=function(){
   if(checkScrollSlide){
       var oParent=document.getElementById('idea_body');
      //将数据块渲染到页面
       var dateInt=[{"img":"/assets/default.jpg","title":"项目标题","intruduce":"项目简介","Classify":"#项目分类#"},{"img":"/assets/default.jpg","title":"项目标题1","intruduce":"项目简介1","Classify":"#项目分类1#"}]
       for(var i=0;i<dateInt.length;i++){
           var oBox=document.createElement('div');
           oBox.className='box';
           oParent.appendChild(oBox);   //将子元素塞进父元素里面
           var oPic=document.createElement('div');
           oPic.className='pic';
           oBox.appendChild(oPic);
           var oImgA=document.createElement('a')
           oPic.appendChild(oImgA)
           var oImg=document.createElement('img')
           oImg.src=dateInt[i].img;
           oImgA.appendChild(oImg);  //onload事件
           var oIdea=document.createElement('div');
           oIdea.className='ideaTitle';
           oPic.appendChild(oIdea);
           var oHr=document.createElement('h3');
           oIdea.appendChild(oHr);
           oHr.innerHTML=dateInt[i].title;
           var hr1=document.createElement('hr');
           oPic.appendChild(hr1);
           var oIntruduce=document.createElement('div');
           oIntruduce.className='ideaIntruduce';
            oPic.appendChild(oIntruduce);
           var oA=document.createElement('a');
           oIntruduce.appendChild(oA);
           oA.innerHTML=dateInt[i].intruduce;
           var hr1=document.createElement('hr');
           oPic.appendChild(hr1);
            var oClassify=document.createElement('div');
           oClassify.className='ideaClassify';
            oPic.appendChild(oClassify);
           oClassify.innerHTML=dateInt[i].Classify;
           var minH=Math.min.apply(null,hArr);//第二行，求最小值
            var index=getMinhIndex(hArr,minH);
            hArr[index] += oBox.offsetHeight;//oBox.offsetHeight;
            oBox.style.position='absolute';
            oBox.style.top=minH+'px';
            oBox.style.left=oBoxW*index+'px';
       } //for
}
}
}
function waterfall(parent,box){
    var Oparent=document.getElementById(parent);//取出父元素；
    var oBoxs=getByClass(Oparent,box);
    //计算每行可以放多少列图片（页面宽度/box盒子宽度）
    oBoxW=oBoxs[0].offsetWidth;
    var
    cols=Math.floor(document.documentElement.clientWidth/oBoxW);
    Oparent.style.cssText='width:'+ oBoxW*cols +'px;margin:0 auto;'//设置idea_body的宽度
    for(var i=0;i<oBoxs.length;i++){
        if(i<cols){
            hArr.push(oBoxs[i].offsetHeight);//将第一行盒子高度放入hArr数组中
        }
        else{
            var minH=Math.min.apply(null,hArr);//第二行，求最小值
            var index=getMinhIndex(hArr,minH);
            oBoxs[i].style.position='absolute';
            oBoxs[i].style.top=minH+'px';
            oBoxs[i].style.left=oBoxW*index+'px';
            hArr[index]+=oBoxs[i].offsetHeight;
        }
    }
}
    function getByClass(parent,clsName){
        var boxArr=new Array();//用来获取所有class为parent的box的元素
        oElements=parent.getElementsByTagName('*')//获取父元素下所有的子元素
        for(var i=0;i<oElements.length;i++){
            if(oElements[i].className==clsName){
                boxArr.push(oElements[i]);
            }//判断传过来的
        }
        return boxArr;
    }//封装一个函数，用于取出idea_body下的所有box函数
    function  getMinhIndex(arr,val){
        for(var i in arr){
            if(arr[i]==val){
            return i;
            }
        }
    }
    function checkScrollSlide(){
        var oParent=document.getElementById('idea_body');
        var oBoxs=getByClass(oParent,'box');
        var lastBoxH=oBoxs[oBoxs.length-1].offsetTop+Math.floor(oBoxs[oBoxs.length-1].offsetHeight/2);
        var scrollTop=document.body.scrollTop || document.documentElement.scrollTop;
        var height=document.body.clientHeight || document.documentElement.clientHeight;
        return(lastBoxH<scrollTop+height)?true:false;
    }
</script>
