<style>
	.tag_to_submit{
		
		margin-right: 1rem;
	}
</style>
<div class="progress success round">
  <span class="meter" style="width: 0%;text-align:center"><span id="progress_text">加载完成！</span></span>
</div>
<%= form_for @post  do |f| %>
<div class="row display">
	<div class="small-3 medium-3 large-3 column">
		<div class="panel callout", id="tag_container">
		</div>
	<div class="panel" style="height:300px !important;">
 		<label>请选择分类</label>
		<% Tag.all.each_with_index do |tag,index| %>
      	<div style="float:left;width:auto;height:auto !important; background-color;"><input type="checkbox" id="tag_choose<%=index%>" class='tag-check' tag-id='<%=tag.id%>' ><span style="bottom:8px;position:relative;">&nbsp;&nbsp;<%= tag.name %>&nbsp;&nbsp;</span></div>
		<% end %>
		<%= hidden_field_tag :tag_ids, '' %>
		<%= hidden_field_tag :is_publish, '' %>
		<%= hidden_field_tag :from_foundation, 'true' %>
	</div>
	<div class="panel">
		<button type="submit" id="to_post_btn" is-publish="true">发表这个帖子</button>
		<button type="submit" id="to_save_btn" is-publish="false">存个草稿</button>
	</div>
	</div>
	<div class="small-9 medium-9 large-9 column">
		<div class="panel">
	 
      <%= hidden_field_tag :from_index,  "1" %>
      <% if session[:progress] %>
      <%= f.hidden_field :user_id, value: UserSession.find(session[:progress].fetch("_id").fetch("$oid")).user.id %>
      <% else %>
      	<% redirect_to user_active_login_path %>
      <% end %>
                <fieldset>
                  <%= f.label "帖子标题", for: 'doc-ta-1' %>
                   <div>
                     <%= f.text_field :title,:value=> @post_draft ? @post_draft.title : '', placeholder: '' %>
                  </div>
                </fieldset>
                <fieldset>
                      <div class="am-form-group">
                          <div><label for="doc-ta-1">正文</label></div>
                    <%= f.cktext_area :content, :value => @post_draft ? @post_draft.content.html_safe() : '', :ckeditor => {:uiColor => '#BDC0BA', :toolbar => 'full',:height => '60rem'} %>
                  </div>
                </fieldset>
      


</div>
	</div>
</div>

<div id="myModal" class="reveal-modal tiny" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  
  <p id="errorM" class="lead">标题不得为空</p>
  
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<% end#end for form %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<script type="text/javascript">
	$(document).ready(function(){
		$('#progress_text').hide();
		$('.meter').animate(
			{width:'100%'},"slow",function(){
				$('#progress_text').show();
				$(this).parent().fadeOut(1500);
			});
		$('.tag-check').each(function(index){
			var is_changed = false;
			$(this).bind('change', function(event) {
				if(is_changed){
					is_changed = false;
					$(this).removeAttr('checked')
					$('#tag'+index).remove();

				}else{
					var tag =  '<span tag-index="'+index+'" class="tag_to_submit label round button" id="tag'+index+'">'
					tag = tag + $(this).parent().find('span').html();
					tag += '<span class="close">&times;</span></span>';
					$('.callout:first').append(tag);
					$(this).attr("checked","checked")
					is_changed = true;

					$('.tag_to_submit').each(function(index, el) {
					$(this).click(function(event) {
					var i = $(this).attr("tag-index");
					$('#tag_choose'+i).removeAttr('checked');
					$(this).remove();
			});
		});
				}
				
			});
		});
		

        $("#to_post_btn").click(function(event) {
        	$("#is_publish").val($(this).attr("is-publish"));
        });
        $("#to_save_btn").click(function(event) {
        	$("#is_publish").val($(this).attr("is-publish"));
        });
        var content = '';

        $("#new_post").submit(function(){
        	if($("#post_title").val()==''){
        		$('#myModal').foundation('reveal', 'open');
        		return false;
        	}
        	if ($.trim($("#tag_container").html()).length== 0) {
        		$("#errorM").html("请至少选择一个分类！");
        		$('#myModal').foundation('reveal', 'open');
        		return false;
        	}
        	$('input[checked]').each(function(index, el) {
        		content += '|^'+$(this).attr('tag-id');
        	});
        	$("#tag_ids").val(content);

        });
        
         	$('.tag-check').each(function(index, el) {
         		<% if @post_draft %>
        	 <% @post_draft.tags.each do |tag| %>
        		if($(this).attr('tag-id') == '<%= tag.id %>'){
        			$(this).trigger('change');
        			$('#progress_text').html("草稿保存成功！");
        		}

			<% end %>
        	<% end %>
        	});
         

	});
</script>