<%
  if notice == '1'
    %>
<script type="text/javascript">
    alert('注册成功！请登录');
</script>

    <%

  end
%>

<div class="login_content">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<%= form_for @user, url: user_sessions_auth_url, :html => {:class=> 'am-form am-form-horizontal'} do |f| %>
  <div class="am-form-group">
    <label for="doc-ipt-3" class="col-sm-2 am-form-label">账号</label>
    <div class="col-sm-10">
      <%= f.text_field :name, id: "doc-ipt-3", placeholder: "用户名/邮箱/手机号码" %>
    </div>
  </div>

  <div class="am-form-group">
    <label for="doc-ipt-pwd-2" class="col-sm-2 am-form-label">密码</label>
    <div class="col-sm-10">
      <%= f.password_field :password, id: "doc-ipt-3", placeholder: "请输入密码" %>
    </div>
  </div>

  <div class="am-form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox">记住十万年
        </label>
      </div>
    </div>
  </div>

  <div class="am-form-group">
    <div class="col-sm-offset-2 col-sm-10">
     <button type="submit" class="am-btn am-btn-primary am-btn-block">登&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;录</button>
    </div>
  </div>
  <div class="forget_pw"><a href="<%= new_user_path %>">没有账号</a><a class="fg_pw" href="">忘记密码</a></div>
<% end %>
</div>

<script>
    $(document).ready(function(){
    $("#doc-ipt-3").blur(function(){
        var reuse=/^[a-zA-Z0-9_]{6,12}$/g;
   if (!reuse.test($("#doc-ipt-3").val())){
              if($("#doc-ipt-3").val()==="")
        {
         $(".Balert1").html('<i class="am-icon-frown-o"></i>&nbsp;密码不能为空')
        }
            else{
           $(".Balert1").html('<i class="am-icon-frown-o"></i>&nbsp;密码长度不对或者含有非法字符')
        }
        }
        else{
              $(".Balert1").html('<i class="am-icon-smile-o"></i>&nbsp;OK')
        }; 
    });
});



</script>
